
@{
    ViewBag.Title = "About Us";
}

<h2>@Html.ActionLink("Home", "Index", "home")</h2>

<p>
    Fast_To-let.com helps people in the property market to find their ideal home, land or commercial property. Our goal is to empower consumers with the most thorough information in the market and get them in contact with the developers,agents and landlords. We aim to have our listings give you as much information about the property as possible.
</p>
<p>
    For home seekers, we offer a wide selection of properties from individuals, agents and other third parties. Our dedicated team is constantly working to increase the number of properties available. As a home seeker, you also need to know the listings shown are quality and accurate. We continually scan our listings and make sure that any issues that are low quality or inaccurate are removed. So you can browse easy.
</p>

