
@{
    ViewBag.Title = "Sussessfully Added your information";
}

<h4>Your advertise is pending for Approvement!!</h4>

<p>It will take couple of hours to approved. please don't warry, we will sent you an approved messsage!! </p>

<h4>@Html.ActionLink("Home","Index","home")</h4>
<br/>
<h4>@Html.ActionLink("back", "userpage", "userprofile")</h4>

