
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>VerifyAccount</h2>
@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success</strong>Your accoumt has been activated successfully. click here to @Html.ActionLink("login", "login")
    </div>
}
else
{
    <div class="alert alert-success">
        <strong>Error! here </strong>@ViewBag.Message
    </div>

}


