
@{
    ViewBag.Title = "Term & Condition";
}

<h3>@Html.ActionLink("Home","Index","home")</h3>

<h4>
    You can publish any type of your advertisement at anytolet.com.
     You will get the full access of adverstise system.
     If you want to publish a featured advertise, contact with site administrator.
     According to diffrent cyber rules and our service policy there are few instructions/rules from us.
     Please try to follow the rules and regulations for better experience.
</h4>
<br/>
<h5>1. All free advertisements will published for two months without free of charges.</h5>
<h5>2. Strictly porhibitted to write irrelevent text as advertise description. If you violet this rules your ad will be delete and user account will block without any prior notification. </h5>
<h5>3. If we got any fake or spam advertise at anytolet.com, this account and advertise will remove permanently and the email account will block at this system. </h5>
<h5>4. If you face any technical difficulties, contact with us as soon as possible. Anytolet development team may reply.</h5>
